.hero-container {
  width: 100%;
  display: flex;
  padding-top: 3em;
  gap: 1em;
}
.hero-image{
  min-height: 400px;
}
.hero-text {
  margin-top: 6em;
}
.hero-text p {
  margin-top: 2em;
}

.current-work {
  width: 85%;
  margin: 0 auto;
  padding: 0.5em 1em;
  border: 1px solid var(--box-color);
}

.current-work p {
  display: flex;
  align-items: center;
  gap: 1em;
}

.button-hero {
  margin-top: 4em;
}
@media only screen and (max-width: 1200px) {
  .button-hero {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1100px) {
  .hero-text {
    margin-top: 4em;
  }
}
@media only screen and (max-width: 920px) {
  .hero-text {
    margin-top: 5em;
  }
  .button-hero {
    margin-top: 2em;
  }
  .hero-text p {
    margin-top: 1em;
  }

  .current-work p {
    font-size: 0.9rem;
    gap: 0.6em;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 830px) {
  .hero-text {
    margin-top: 5em;
  }
  .button-hero {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 760px) {
  .hero-container {
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .button-hero {
    margin-top: 1em;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .current-work p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 760px) {
  .hero-text {
    margin-top: 3em;
  }
}

@media only screen and (max-width: 450px) {
  .current-work {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .hero-text {
    margin-top: 1.5em;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 330px) {
  .hero-text {
    margin-top: 1.2em;
  }
  .hero-text h1 {
    font-size: 1.2rem;
  }
  .hero-text p {
    font-size: 0.8rem;
  }
}
