.footer-container {
  width: 100%;
  background: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 5em;
  margin-top: 2em;
}

.footer-container .footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.footer-container .footer-left img {
  width: 35px;
}

.footer-container .footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.footer-container .footer-right .footer-row {
  display: flex;
  gap: 1.5em;
}
.footer-container .footer-right p {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media only screen and (max-width: 760px) {
  .footer-container {
    flex-direction: column;
    gap: 2em;
  }
}

@media only screen and (max-width: 500px) {
  .footer-container {
    padding: 1em;
  }
  .footer-container .footer-right p {
    font-size: 0.8rem;
  }
}
