@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v22/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7NuzlojwUKQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --background: linear-gradient(0deg, #282c33, #282c33),
    linear-gradient(0deg, #ffffff, #ffffff);
  --first-color: #c778dd;
  --box-color: #abb2bf;
  --font-color: #ffffff;
  --p-font: #abb2bf;
  --footer-color: #242424;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  background: var(--background);
  color: var(--p-font);
  font-family: "Fira Code", monospace;
}
.container {
  width: 80%;
  margin: 0 auto;
}

span {
  color: var(--first-color);
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  padding: 0.5em 1em;
  border: 1px solid var(--first-color);
  background: none;
  outline: none;
  color: var(--p-font);
  font-family: "Fira Code", monospace;
}

button:hover {
  color: var(--first-color);
  transform: scale(1.05);
}
img {
  max-width: 100%;
}

@media only screen and (max-width: 830px) {
  .container {
    width: 85%;
  }
}
